.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.form {
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 20px 40px;
}

.form > fieldset {
    border: 1px solid rgb(19, 165, 56);
    width: 100%;
    height: 190%;
    display: block;
    padding: 7px 15px;
    margin-bottom: 40px;
}

.form-header > h2 {
    color: rgb(19, 165, 56);
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}

.form-body {
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.form-body .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px auto;
    width: 100%;
}

.form-body .form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px auto;
    width: 100%;
}

.form-group > label, .form-column > label {
    width: fit-content;
    flex: 0 0 fit-content;
    font-size: 28px;
    color: rgb(19, 165, 56);
}

.form-column > fieldset {
    border: none;
    width: 240px;
    display: block;
    height: 284px;
    resize: none;
    margin: 0;
    outline: none;
    border: none;
    background: radial-gradient(circle at 10px 10px, rgba(255,248,251,1) 0%, rgb(221,229,117) 21%);
    padding: 00px;
    padding-bottom: 10px;
}

.form-column > fieldset div {
    background: linear-gradient(90deg, rgb(221,229,117) 0%, rgb(19, 165, 56) 38%);
    padding: 10px;
    text-align: right;
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    width: 92%;
    padding-right: 10px;
    display: block;
    margin: 0;
}

.form-group > input {
    display: block;
    border: none;
    width: auto;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px dotted rgb(19, 165, 56);
    flex: 1;
    outline: none;
}

input[type="checkbox"].check::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    margin-right: 10px;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

input[type="checkbox"].check:checked::before {
    content: url('../../../data/etc/checked.png');
    display: block;
    text-align: center;
    padding: 0;
    transform: translate(-30px, -22px);
    border: none;
    background-color: transparent;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

input[type="checkbox"]:disabled {
    margin-right: 15px !important;
    margin-bottom: 10px !important;
}

input[type="checkbox"]:disabled::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #000;
    margin-right: 10px;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

input[type="checkbox"]:checked:disabled:before {
    content: url('../../../data/etc/checked.png');
    display: block;
    text-align: center;
    padding: 0;
    transform: translate(-30px, -22px);
    border: none;
    background-color: transparent;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

.form-footer {
    margin: 20px auto 10px;
    width: 100%;
}

.form-footer > input {
    display: block;
    padding: 10px 29px;
    background-color: rgb(19, 165, 56);
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}

.check {

    display: inline-block;
width: 20px;
height: 20px;
margin-right: 10px;
background-color: #fff;
border: 2px solid #000;
border-radius: 0;
}

.askref{
    display: block;
    padding: 10px 29px;
    border-radius: 5px;
    background-color: rgb(19, 165, 56);
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    position: absolute;
    right:5vh;
    bottom: 3vh;

}



.b1{

    > div{

        margin: auto;
        width: fit-content;
    }
    > div > input{
        background-color: rgb(19, 165, 56) !important;
        border-radius: 15px;
        color: white;
        font-size: 30px;
    }
    > div > span{
        font-size: 20px;
        color: rgb(19, 165, 56);
    }

}